<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Bạn có muốn xóa sản phẩm : <%=list.tensp%></h4>
    <div style="display: flex;">
        <button>
            <a href="/admin/sanpham/home" style="text-decoration: none; color: black;">Quay Lại</a>
        </button>
        <button style="margin-left: 20px;">
            <a href="/admin/sanpham/xacnhandeleteSP/<%=list._id%>" style="text-decoration: none; color: black;">Delete</a>
        </button>
    </div>
</body>
</html>