<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <title>Đăng Ký</title>
</head>
<!-- nguyennguvcl -->
<body>
    <div class="container-fluid"
        style="background-image: url('../images/image.png');background-size: 100% 100%;padding-bottom: 300px;padding-top: 50px;">
        <div class="container col-8" style="display:flex;grid-gap: 35px; text-align: center;">
            <div class="row border border-dark-subtle border-start rounded-start "
                style="margin-top: 50px;width: 500px;height: 500px;;background-image: url('../images/avt.png');background-size: 100% 100%;margin-bottom: 14px; ">
            </div>
            <div class="row" style="margin-top: 50px;width: 500px;">
                <div class="row border border-dark-subtle border-start rounded-end"
                    style="padding: 10px;margin-bottom: 15px;background-color: #fff;">
                    <h4 style="margin-top: 10px;margin-bottom: 20px;">Register An Account</h4>
                    <form action="" method="post">
                        <div class="mb-3" style="text-align: left;">
                            <label for="exampleInputUser1" class="form-label">User address</label>
                            <input type="text" class="form-control"
                                 name="username">
                        </div>
                        
                        <div class="mb-3" style="text-align: left;">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" name="passwd">
                        </div>
                    

                        <div class="mb-3" style="text-align: left;">
                            <a href="#" style="color: rgb(78, 86, 93);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-images" viewBox="0 0 16 16">
                                    <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                    <path
                                        d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z" />
                                </svg>
                            </a>
                        </div>
                        <div class="mb-3">
                            
                            <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" href="./">
                                Register   
                                
                            </button>
                        </div>
                        <div class="mb-3">
                            <a class="text_dk" href="./" style="text-decoration: solid;">
                                Already have an account! Sign in
                            </a>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= msg %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    <script src="../bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>